@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.dracula-theme {
    background-color: #282a36; /* Dracula background color */
    color: #f8f8f2; /* Dracula foreground color */
  }
  
  .dracula-theme .relative.z-10.flex.flex-col.items-center.justify-center.p-4 {
    color: #f8f8f2; /* Dracula foreground color */
  }
  
  .dracula-theme .w-full.max-w-full.md\:w-screen.md\:max-w-2xl {
    background-color: #44475a; /* Dracula selection background color */
    color: #f8f8f2; /* Dracula foreground color */
  }